<div id="points-popup" class="popup">

  <div style="z-index: 1; height: auto; width:640px; background-color: white;  position: absolute;">

    <div style=" padding-top: 16px; padding-right: 8px; display: flex; justify-content: flex-end;">
      <a onclick="$('#points-popup').remove()" class="waves-effect waves-yellow btn-flat"><i class="material-icons">close</i></a>
    </div>
<div style=" padding: 32px;">
  <div style="font-weight: 600; font-size: 18px; padding-bottom: 12px; ">
    <%=text%>
  </div>
<div>
  <div style="display: flex; justify-content: flex-end; background-image: url('<%=image_url('bonus-star.svg')%>'); height: 64px; width: 64px; background-size: contain; background-image: center; background-repeat: no-repeat;">
      <div style="align-self: flex-end; font-size: 16px; font-weight: 600;">+<%=points%></div>
  </div>
</div>

    <div style=" padding-top: 32px;">
      <a href="<%= points_path %>" class="waves-effect waves-yellow btn-flat">Смотреть доступные баллы</a>
    </div>
    <div>
  </div>
</div>
