<div class="task-data-title">
  <%=task.title%>
</div>
<div class="task-data-project-title">
  <%=task.project.title%>
</div>
<div class="task-data-description" style="">
  <%=task.description%>
</div>
<% if !task.deadline.nil?%>
  <div class="task-data-deadline" style=""><i style="font-size: 10px; margin-right: 8px;" class="material-icons">schedule</i><%=task.deadline.strftime("%b %d, %Y")%></div>
<% end %>
