<% if task.today? || task.in_process?%>
<div style="padding-left: 32px;">
  <button onclick="createTask()" class=" btn-flat waves-effect waves-dark " style="color: #171717;" type="submit" name="action">
    Отметить как готово
    </button>

    <button onclick="createTask()" class=" btn-flat waves-effect waves-dark " style="color: #171717;" type="submit" name="action">
      Отложить на завтра
      </button>
</div>
<% end %>

<% if task.todo? %>
<div style="padding-left: 32px;">
  <button onclick="createTask()" class="btn-flat waves-effect waves-dark " style="color: #171717;" type="submit" name="action">
    Выполнить сегодня
    </button>

    <button onclick="createTask()" class="btn-flat waves-effect waves-dark " style="color: #171717;" type="submit" name="action">
      Выполнить завтра
      </button>
</div>
<% end %>
