<div class="container">
  <div style="font-weight: bold;
font-size: 52px; line-height: 150%; padding-bottom: 32px; padding-top: 58px;">Сегодня</div>

<div class="row" style="display: flex; flex-direction: row">

  <div class="col m7"  id="today-tasks" style="display: flex; flex-direction: column;">
    <%= render :partial => 'tasks/today_task', :collection => current_user.tasks.today.order('created_at DESC'), :as => :task %>
  </div>

  <div class="col m5" id="stats-bar" style="display: flex; margin-left: 24px; font-size: 24px;">
     <div id="donutchart" style="width: 900px; height: 500px;"></div>
  </div>

</div>
</div>

   <script type="text/javascript">

     var tasks_done = <%=@today_done%>;
     var tasks_todo = <%=@today_count%>;

     $(document).on('turbolinks:load', function() {
       google.charts.load("current", {packages:["corechart"]});
       google.charts.setOnLoadCallback(drawChart);

     });


     function taskUpdateTypeToday(id, type) {

     var url = '/task/' + id + '/' + type;

       $.ajax({
             url: url, type: 'get'
           })
           .done(function(){ drawChart() })
     }

     function drawChart() {
       var data = google.visualization.arrayToDataTable([
         ['Task', 'Hours per Day'],
         ['Выполнено',     tasks_done],
         ['Осталось',      tasks_todo]
       ]);

       var options = {
         title: 'Выполнено:',
         pieSliceText: 'none',
         pieHole: 0.7,
         legend: 'none',
         pieSliceText: 'value',
         titleTextStyle: { fontSize: 18,
                              bold: true },
        slices: {
            0: { color: '#6673FF' },
            1: { color: '#DADADA' }
          }
       };

       var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
       chart.draw(data, options);
     }



   </script>
